@import "../../assets/scss/tokens";
@import "../../assets/scss/functions";

$--button-background-color-primary : map-deep-get($tokens, color, secondary-colours, action-blue ,600, value);
$--button-color-primary : map-deep-get($tokens, color, neutral-colours, slate-grey, 0, value);
$--button-color-secondary : map-deep-get($tokens, color, secondary-colours, action-blue ,600, value);
$--button-color-hover : map-deep-get($tokens, color, secondary-colours, action-blue ,500, value);
$--button-color-focus : map-deep-get($tokens, color, secondary-colours, action-blue ,200, value);
$--button-font-large : map-deep-get($tokens, font, desktop, buttons, b1, value);
$--button-font-medium : map-deep-get($tokens, font, desktop, buttons, b2, value);

.button {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    &--primary {
      color: $--button-color-primary;
      background-color: $--button-background-color-primary;
      &:hover {
        background-color: $--button-color-hover;
      }
      &:focus {
        outline: 4px solid $--button-color-focus;
      }
      &:active {
        transform: scale(0.96);
        -webkit-transform: scale(0.96);
        -ms-transform: scale(0.96);
        transition: transform 0.2s ease-out;
      }
    }
    &--secondary {
      box-shadow: inset 0 0 0 2px $--button-color-secondary;
      color: $--button-color-secondary;
      background-color: white;
      &:hover {
        color: $--button-color-hover;
        box-shadow: inset 0 0 0 2px $--button-color-hover;
      }
      &:active {
        transform: scale(0.96);
        -webkit-transform: scale(0.96);
        -ms-transform: scale(0.96);
        transition: transform 0.2s ease-out;
      }
    }
    &--small {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.25rem 1rem;
    }
    &--medium {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.5rem 1.5rem;
    }
    &--large {
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding: 0.75rem 1.5rem;
    }
  }

